.activities {
    margin-top: 50px;
}

.activities-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.activities-cards .card {
    display: flex;
    flex-direction: column;
    padding: 0;
    border-radius: 20px;
    overflow: hidden;
}

.activities-cards img {
    height: 400px;
    width: 100;
}