.activities {
    margin-top: 50px;
}

.activities-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    gap: 25px;
}

.activities-cards a {
    width: 100%;
    min-width: 150px;
    max-width: 297.5px;
}

.activities-cards .card {
    display: flex;
    flex-direction: column;
    padding: 0;
    border-radius: 20px;
    overflow: hidden;
}

/* .activities-cards img {
    height: 400px;
    width: 100%;
} */

.activities-cards .card-img {
    height: 380px;
    object-fit: cover;
    background-size: cover;
    background-position: center;
}

.activities-cards .card-title {
    margin: 10px 0 10px 15px;
}

@media screen and (max-width: 1024px) {
    .activities-cards {
        gap: 20px;
    }
    .activities-cards .card-img {
        height: 200px;
    }

}

@media screen and (max-width: 767.98px) {
    .activities-cards {
        flex-direction: column;
    }

    .activities-cards a {
        align-self: center;
        max-width: 85%;
    }
}