.header {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 79px;
    display: flex;
    justify-content: space-between;
}

.logo img{
    /* float: left; */
    width: 62px;
    height: 19px;
    padding: 30px 50px 30px 0px;
    /* background-color: red; */
    text-align: center;
}

.menu {
    /* float: right; */
    height: 79px;
}

.menu ul {
    /* height: 79px; */
    margin: 0;
}

.menu li {
    list-style-type: none;
    float: left;
    padding-top: 20px;
    margin: 0 0px 20px 50px;
    /* height: 79px; */
}

.menu li a {
    padding-top: 20px;
    height: 79px;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}
.menu li:hover > a {
/* #active { */
    color: var(--main-color);
    border-top: solid 3px var(--main-color);
}

.menu-phone {
    display: none;
}

@media screen and (max-width: 767.98px) {
    .header {
        flex-direction: column;
        /* align-items: center; */
        height: 100px;
    }

    .logo {
        align-self: center;
        padding-left: 30px;
    }

    /* .menu {
        margin-top: -25px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .menu li {
        margin: 0 20px 20px 20px;
    }

    .menu li:hover > a {
        color: var(--main-color);
        border-top: none;
        border-bottom: solid 3px var(--main-color);
    } */
    .menu {
        display: none;
    }
    .menu-phone {
        display: flex;
        justify-content: space-around;
    }
    .menu-phone .btn-phone {
        width: 100%;
        text-align: center;
    }
    .menu-phone .btn-phone:hover{
        border-bottom: solid 3px var(--main-color);
    }
}