.hebergements {
    width: 65%;
}

/* .hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
} */

.hebergements-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }

/* .hebergements-cards .card {
    display: flex;
    flex-direction: column;
    margin-top: 33px;
    width: 250px;
} */

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    margin-top: 33px;
    /* width: 30%; */
  }

/* .hebergements-cards img {
    /* width: 33%; 
    height: 136px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
} */

.hebergements-cards .card-img {
    background-size: cover;
    background-position: center;
    height: 136px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* .hebergements-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
} */

.hebergements-cards .card-content {
    /* width: 100%; */
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
  }

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0px;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
    margin-top: 5px;
}

.more-button {
    border: none;
    font-size: 18px;
    font-weight: bolder;
    margin-top: 25px;
}

.more-button:hover {
    color: var(--main-color);
    text-decoration: underline var(--main-color);
    cursor: pointer;
}

#hotel_du_port {
    background-image: url("../images/hebergements/fred-kleber.jpg")
}
#hotel_chez_amina {
    background-image: url("../images/hebergements/febrian-zakaria.jpg");
}
#hotel_les_mouettes {
    background-image: url("../images/hebergements/reisetopia.jpg");
}
#hotel_de_la_mer {
    background-image: url("../images/hebergements/annie-spratt.jpg");
}
#hotel_la_canebière {
    background-image: url("../images/hebergements/marcus-loke.jpg");
}
#auberge_le_panier {
    background-image: url("../images/hebergements/nicate-lee.jpg");
}

@media screen and (max-width: 1060px) and (min-width: 1025px) {
    .hebergements-cards .card-content {
        padding-left: 5px;
    }
}

@media screen and (max-width: 767.98px) {
    .hebergements-cards {
        grid-template-columns: repeat(1, 1fr);
    }
}