.info-group {
    margin: 0px 0 35px 0;
    padding: 0;
}

.search-form {
    margin: 35px 0 35px 0;
    display: flex;
    flex-direction: row;
    width: 377px;
    height: 49px;
    border: var(--main-bg-color) solid 1px;
    border-radius: 15px;
    /* align-items: center; */
    justify-content: center;
    overflow: hidden;
}

.search-icon {
    background-color: var(--main-bg-color);
    width: 50px;
    height: 100%;
    background-image: url("/images/assets/ping.png");
    background-repeat: no-repeat;
    background-position: center;
}

.search-localisation {
    padding: 0 0px 0 0px;
    width: 195px;
    border: none;
    font-weight: bolder;
    font-size: 18px;
    text-align: center;
    
}

.search-localisation::placeholder {
    /* opacity: 50%; */
    color: black
}

.search-localisation:focus {
    outline: none;
}

.search-button {
    /* padding: 10px; */
    border: none;
    height: 100%;
    width: 132px;
    background-color: var(--main-color);
    border-radius: 0 15px 15px 0;
    color: white;
    font-size: 18px;
    font-weight: bolder;
    background-color: var(--main-color);
}

.filter {
    display: flex;
    flex-direction: row;
    /* margin-bottom: 35px; */
    margin: 35px 0 35px 0;
}

.filter-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    padding: 0;
    margin: 0;
}

.filter-list .filter-btn {
    height: 50px;
    background-color: white;
    border: solid 3px var(--main-bg-color);
    border-radius: 25px;
    margin: 0 0 0 20px;
    padding: 4px 19px 4px 19px;
    font-size: 17px;
    font-weight: bolder;
}

.filter-list .filter-btn:hover {
    background-color: var(--filter-bg-color);
}

.filter-btn .fa-solid {
    margin-right: 5px;
}

.infobar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 35px;
}

.infobar p {
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 0 10px;
}